<html>
  <head>
    <title>Index</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h3>Redirecionamento para pagina portas conf</h3>
    <!-- referencia: https://www.devmedia.com.br/javascript-redirect-redirecionando-o-usuario-com-window-location/39809 -->
    <script>
       // setTimeout(function() {
              var x = location.hostname;
              document.getElementById("demo").innerHTML = x;
}
            // window.location.href = "http://127.0.0.1:8000/cnf/all/";
            //window.location.href = " http://192.168.2.11:8000/cnf/all/";
      // }, 1000);
    </script>
  </body>
</html>