<ul class="nav nav-tabs">
    <li class="nav-item {{ home_page }}">
      <a class="nav-link active" href="{% url 'core:index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:porta_vc' %}">Porta Video Confêrencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'core:porta_du' %}">Porta Dual Unitario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:porta_di' %}">Porta Dual Intervalo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:contato' %}">Contato</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>